
<div class="profile">
    <section>
        <span class="headshot" >
            <a href="/images/profile.jpg">
                <img src="/images/profile_small.jpg" alt="Lee Boonstra">
            </a>
        </span>

        <h2><a href="https://plus.google.com/117712452932146916020/" rel="author me" target="_blank">Lee Boonstra</a></h2>
        <div>
        <p><a href="https://plus.google.com/117712452932146916020/" rel="author me" target="_blank">Lee Boonstra</a> 
            is author of the O'Reilly book: "Hands-on Sencha Touch 2" and works as a sales engineer for Google, at the Google Cloud team where she assist the sales team with technical knowledge.
        </p>
        <p>
            Lee lives in Amsterdam and has experience in application development. She spends her spare time developing web and mobile apps. Before Google, she worked for Sencha, where she traveled all the world as sales engineer and technical trainer. Further more, she speaks regularly at seminars and conferences and writes blogposts and articles for various magazines and websites.
        </p>
        </div>
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Person",
                "image": "https://www.leeboonstra.com/images/profile.jpg",
                "jobTitle": "Sales Engineer",
                "description": "Lee Boonstra is author of the O'Reilly book: "Hands-on Sencha Touch 2" and works as a sales engineer for Google, at the Google Cloud team where she assist the sales team with technical knowledge. Lee lives in Amsterdam and has experience in application development. She spends her spare time developing web and mobile apps. Before Google, she worked for Sencha, where she traveled all the world as sales engineer and technical trainer. Further more, she speaks regularly at seminars and conferences and writes blogposts and articles for various magazines and websites."
                "address": {
                    "@type": "PostalAddress",
                    "addressCountry": "Netherlands",
                    "addressLocality": "Amsterdam"
                },
                "worksFor": {
                    "@type": "Organization",
                    "alternateName": "Google Cloud",
                    "name": "Google"
                },
                "name": "Lee Boonstra",
                "birthDate": "19830616T000000+0200",
                "gender": "female",
                "nationality": "Dutch",
                "url": "http://www.leeboonstra.com",
                "sameAs" : [ "https://nl.linkedin.com/in/leeboonstra",
                "http://twitter.com/ladysign",
                "https://plus.google.com/117712452932146916020/"]
            }
        </script>
    </section>
    <section>


        <h2>Hands-on Sencha Touch 2</h2>
        <a href="//shop.oreilly.com/product/0636920030058.do" class="book"><img height="100" src="/images/leeboonstra-book.jpg" class="thumb" alt="My book: Hands-on Sencha Touch 2"></a>
        
        <p>
            Build snappy web apps for mobile devices with Sencha Touch 2, the user interface JavaScript framework built specifically for the mobile Web.
        </p>
        <p>
            With this book, you’ll learn how to build a complete HTML5-based multi-device app...
        </p>

        <ul class="books">
            <li>
                    <a href="http://www.jdoqocy.com/click-7625429-11290546?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920030058.do%3Fcmp%3Daf-code-books-video-product_cj_0636920030058_%25zp&amp;cjsku=0636920030058" class="btn btn-default"><b>Buy my book!</b></a>
            </li>
            <li>
                    <a href="https://www.amazon.com/Hands--Sencha-Touch-Real-World-Approach/dp/144936652X/ref=sr_1_1?ie=UTF8&amp;qid=1475512984&amp;sr=8-1&amp;keywords=hands-on+sencha+touch+2" class="btn btn-default"><b>Amazon</b></a>
            </li>
        </ul>
    
        <script type="application/ld+json">
            {
            "@context":"http://schema.org",
            "@type":"Book",
            "name" : "Hands-on Sencha Touch 2",
            "description": "Get hands-on experience building speedy mobile web apps with Sencha Touch 2.4, the user interface JavaScript framework built specifically for the mobile Web. "
            "author": {
                "@type":"Person",
                "name":"Lee Boonstra",
                "jobTitle": "Sales Engineer",
                "description": "Lee Boonstra is author of the O'Reilly book: "Hands-on Sencha Touch 2" and works as a sales engineer for Google, at the Google Cloud team where she assist the sales team with technical knowledge. Lee lives in Amsterdam and has experience in application development. She spends her spare time developing web and mobile apps. Before Google, she worked for Sencha, where she traveled all the world as sales engineer and technical trainer. Further more, she speaks regularly at seminars and conferences and writes blogposts and articles for various magazines and websites."
            },
            "review": {
                "itemReviewed": {
                    "@type": "Book",
                    "name": "Hands-on Sencha Touch 2",
                    "author": {
                        "@type": "Person",
                        "name": "Lee Boonstra",
                        "url":"https://www.leeboonstra.com"
                    },
                    "isbn": "144936652X"
                },
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                }
            },
            "url" : "http://shop.oreilly.com/product/0636920030058.do",
            "workExample" : [{
                "@type": "Book",
                "isbn": "144936652X",
                "numberOfPages": "334",
                "image": "https://www.leeboonstra.com/images/leeboonstra-book.jpg",
                "inLanguage": "English",
                "bookEdition": "1nd Edition",
                "publisher": "O'Reilly Media",
                "bookFormat": "http://schema.org/Paperback",
                "potentialAction":{
                "@type":"ReadAction",
                "target":
                {
                    "@type":"EntryPoint",
                    "urlTemplate":"https://www.amazon.com/_/dp/144936652X?tag=oreilly20-20",
                    "actionPlatform":[
                    "http://schema.org/DesktopWebPlatform",
                    "http://schema.org/IOSPlatform",
                    "http://schema.org/AndroidPlatform"
                    ]
                },
                "expectsAcceptanceOf":{
                    "@type":"Offer",
                    "Price":19.99,
                    "priceCurrency":"USD",
                    "eligibleRegion" : {
                    "@type":"Country",
                    "name":"US"
                    },
                    "availability": "http://schema.org/InStock"
                }
                }
            }]
            }
            </script>
</section>
</div>


<%- partial('_widget/category') %>
  