
<div class="profile">
    <section>
        <span class="headshot" >
            <a href="/images/profile.jpg">
                <img src="/images/profile_small.jpg" alt="Lee Boonstra" />
            </a>
        </span>

        <h2><a href="https://plus.google.com/117712452932146916020/" rel="author me" target="_blank">Lee Boonstra</a></h2>
        <div>
        <p><a href="https://plus.google.com/117712452932146916020/" rel="author me" target="_blank">Lee Boonstra</a> 
            Lee Boonstra is a Conversational AI Developer Advocate at Google. In this role she is focusing on Dialogflow, Contact Center AI & Speech technology. She is based in Amsterdam, and an O’Reilly published author.
        </p>
        <img src="/images/googlelogo.png" alt="Google" />
        <p>
            Prior to Google, Lee worked at Sencha Inc. and wrote a book for O’Reilly Hands-on Sencha Touch 2.
        </p>
        </div>
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Person",
                "image": "https://www.leeboonstra.com/images/profile.jpg",
                "jobTitle": "Applied AI Engineer and Developer Advocate at Google",
                "description": "Lee Boonstra is a Conversational AI Developer Advocate at Google. In this role she is focusing on Dialogflow, Contact Center AI & Speech technology. She is based in Amsterdam, and an O’Reilly published author.",
                "address": {
                    "@type": "PostalAddress",
                    "addressCountry": "Netherlands",
                    "addressLocality": "Amsterdam"
                },
                "worksFor": {
                    "@type": "Organization",
                    "alternateName": "Google Cloud",
                    "name": "Google"
                },
                "name": "Lee Boonstra",
                "birthDate": "1983-06-16T00:00+01:00",
                "gender": "female",
                "nationality": "Dutch",
                "url": "http://www.leeboonstra.com",
                "sameAs" : [ "https://nl.linkedin.com/in/leeboonstra",
                "http://twitter.com/ladysign",
                "https://plus.google.com/117712452932146916020/"]
            }
        </script>
    </section>
    <section>


        <h2>Hands-on Sencha Touch 2</h2>
        <a href="//shop.oreilly.com/product/0636920030058.do" class="book"><img height="100" src="/images/leeboonstra-book.jpg" class="thumb" alt="My book: Hands-on Sencha Touch 2"></a>
        
        <p>
            Build snappy web apps for mobile devices with Sencha Touch 2, the user interface JavaScript framework built specifically for the mobile Web.
        </p>
        <p>
            With this book, you’ll learn how to build a complete HTML5-based multi-device app...
        </p>

        <ul class="books">
            <li>
                    <a href="http://www.jdoqocy.com/click-7625429-11290546?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920030058.do%3Fcmp%3Daf-code-books-video-product_cj_0636920030058_%25zp&amp;cjsku=0636920030058" class="btn btn-default"><b>Buy my book!</b></a>
            </li>
            <li>
                    <a href="https://www.amazon.com/Hands--Sencha-Touch-Real-World-Approach/dp/144936652X/ref=sr_1_1?ie=UTF8&amp;qid=1475512984&amp;sr=8-1&amp;keywords=hands-on+sencha+touch+2" class="btn btn-default"><b>Amazon</b></a>
            </li>
        </ul>
    
        <script type="application/ld+json">
            {
            "@context":"http://schema.org",
            "@type":"Book",
            "name" : "Hands-on Sencha Touch 2",
            "description": "Get hands-on experience building speedy mobile web apps with Sencha Touch 2.4, the user interface JavaScript framework built specifically for the mobile Web.",
            "author": {
                "@type":"Person",
                "name":"Lee Boonstra",
                "jobTitle": "Developer Advocate",
                "description": "Lee Boonstra is author of the O'Reilly book: 'Hands-on Sencha Touch 2, currently working as a developer advocate for Google. Prior to Google, Lee worked at Sencha Inc as a technical trainer."
            },
            "review": {
                "@type": "Review",
                "reviewRating": {
                  "@type": "Rating",
                  "ratingValue": "5",
                  "bestRating": "5"
                },
                "name": "Hands-on Sencha Touch 2",
                "author": {
                  "@type": "Person",
                  "name": "Amazon Customer"
                },
                "datePublished": "2015-03-15T00:00+01:00",
                "reviewBody": "This is the book you want to study if you want to Grok Sencha Touch.. The author is a trainer for Sencha. If you're struggling with Sencha, this is the one to read. She knows her stuff !!!",
                "publisher": {
                  "@type": "Organization",
                  "name": "Amazon"
                }
            },
            "isbn": "144936652X",
            "url" : "http://shop.oreilly.com/product/0636920030058.do",
            "workExample" : [{
                "@type": "Book",
                "isbn": "144936652X",
                "numberOfPages": "334",
                "image": "https://www.leeboonstra.com/images/leeboonstra-book.jpg",
                "inLanguage": "English",
                "bookEdition": "1nd Edition",
                "publisher": "O'Reilly Media",
                "bookFormat": "http://schema.org/Paperback",
                "potentialAction":{
                "@type":"ReadAction",
                "target":
                {
                    "@type":"EntryPoint",
                    "urlTemplate":"https://www.amazon.com/_/dp/144936652X?tag=oreilly20-20",
                    "actionPlatform":[
                    "http://schema.org/DesktopWebPlatform",
                    "http://schema.org/IOSPlatform",
                    "http://schema.org/AndroidPlatform"
                    ]
                },
                "expectsAcceptanceOf":{
                    "@type":"Offer",
                    "Price":19.99,
                    "priceCurrency":"USD",
                    "eligibleRegion" : {
                    "@type":"Country",
                    "name":"US"
                    },
                    "availability": "http://schema.org/InStock"
                }
                }
            }]
            }
            </script>
</section>
</div>


<%- partial('_widget/category') %>
  