
<div class="profile">
    <section>
        <span class="headshot" >
            <img src="/images/profile.jpg" alt="Lee Boonstra">
        </span>

        <h2><a href="https://plus.google.com/117712452932146916020/" rel="author me" target="_blank">Lee Boonstra</a></h2>
        <div>
        <p><a href="https://plus.google.com/117712452932146916020/" rel="author me" target="_blank">Lee Boonstra</a> 
            is a customer engineer at Google,  at the Google Cloud team where she assist the sales team with technical knowledge for the financial industry.
        </p>
        <p>
            Lee lives in Amsterdam and has experience in application development. She spends her spare time developing web and mobile apps. Before Google, she worked for Sencha, where she traveled all the world as sales engineer and technical trainer.  Further more, she speaks regularly at seminars and conferences and writes blogposts and articles for various magazines and websites. Also, she wrote a book for O'Reilly: Hands-on Sencha Touch 2.
        </p>
        </div>
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Person",
                "image": "profile.jpg",
                "jobTitle": "Sales Engineer",
                "address": {
                "@type": "PostalAddress",
                "addressCountry": "Netherlands",
                "addressLocality": "Amsterdam"
                },
                "worksFor": {
                "@type": "Organization",
                "alternateName": "Google Cloud",
                "name": "Google"
                },
                "name": "Lee Boonstra",
                "birthDate": "1983.06.16",
                "gender": "female",
                "nationality": "Dutch",
                "url": "http://www.leeboonstra.com",
                "sameAs" : [ "https://nl.linkedin.com/in/leeboonstra",
                "http://twitter.com/ladysign",
                "https://plus.google.com/117712452932146916020/"]
            }
        </script>
    </section>
    <section>
        <h2>Hands-on Sencha Touch 2</h2>
        <a href="//shop.oreilly.com/product/0636920030058.do"><img height="180" src="book.jpg" class="thumb" alt="My book."></a>
        <p>
            Build snappy web apps for mobile devices with Sencha Touch 2, the user interface JavaScript framework built specifically for the mobile Web.
        </p>
        <p>
            With this book, you’ll learn how to build a complete HTML5-based multi-device app...
        </p>
        <a href="http://www.jdoqocy.com/click-7625429-11290546?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920030058.do%3Fcmp%3Daf-code-books-video-product_cj_0636920030058_%25zp&amp;cjsku=0636920030058" class="btn btn-default"><b>Buy my book!</b></a><br>
        <a href="https://www.amazon.com/Hands--Sencha-Touch-Real-World-Approach/dp/144936652X/ref=sr_1_1?ie=UTF8&amp;qid=1475512984&amp;sr=8-1&amp;keywords=hands-on+sencha+touch+2" class="btn btn-default"><b>Amazon</b></a>
        <p>Print: $29.99, Ebook: $19.99</p> 
        <script type="application/ld+json">
            {
            "@context": "http://schema.org/",
            "@type": "Review",
            "itemReviewed": {
            "@type": "Book",
            "name": "Hands-on Sencha Touch 2",
            "author": {
            "@type": "Organization",
            "name": "Amazon",
            "sameAs":"https://www.amazon.com"
            },
            "isbn": "144936652X"
            },
            "author": {
            "@type": "Person",
            "name": "Amazon",
            "homeLocation": "Amsterdam",
            "sameAs":"https://www.leeboonstra.com"
            },
            "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5"
            },
            "publisher": {
            "@type": "Organization",
            "name": "O'Reilly"
            },
            "datePublished": "July 31, 2014",
            "url": "https://www.amazon.com/Hands--Sencha-Touch-Real-World-Approach/dp/144936652X/ref=sr_1_1?ie=UTF8&qid=1475523336&sr=8-1&keywords=hands-on+sencha+touch",
            "description": "Get hands-on experience building speedy mobile web apps with Sencha Touch 2.4, the user interface JavaScript framework built specifically for the mobile Web. "
            }
        </script>
</section>
</div>


<%- partial('_widget/category') %>
  