<% if (post.categories && post.categories.length){ %>
  in <div class="article-category">
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'badge badge-primary',
      style: 'none',
      separator: ''
    }) %>
  </div>
<% } %>