@import './_settings/colors';
@import './_settings/settings';

@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import '_sections/sections';
@import '_components/components';

@import 'print';

@font-face{
    font-family: 'Roboto';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/Roboto-Regular-webfont.eot);
    src:url(../fonts/Roboto-Regular-webfont.eot?#iefix) format("embedded-opentype"),
        url(../fonts/Roboto-Regular-webfont.woff) format("woff"),
        url(../fonts/Roboto-Regular-webfont.ttf) format("truetype"),
        url(../fonts/Roboto-Regular-webfont.svg#Roboto) format("svg")
}

@font-face{
    font-family: 'icomoon';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/icomoon.eot);
    src:url(../fonts/icomoon.eot?#iefix) format("embedded-opentype"),
        url(../fonts/icomoon.woff) format("woff"),
        url(../fonts/icomoon.ttf) format("truetype"),
        url(../fonts/icomoon.svg#icomoon) format("svg")
}

@font-face{
    font-family: 'BebasNeue';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/bebasneue-webfont.eot);
    src:url(../fonts/bebasneue-webfont.eot?#iefix) format("embedded-opentype"),
        url(../fonts/bebasneue-webfont.woff) format("woff"),
        url(../fonts/bebasneue-webfont.ttf) format("truetype"),
        url(../fonts/bebasneue-webfont.svg#BebasNeue) format("svg")
}

@font-face{
    font-family: 'Oswald';
    font-style: normal;
    font-weight:400;
    src:url(../fonts/oswald-regular-webfont.eot);
    src:url(../fonts/oswald-regular-webfont?#iefix) format("embedded-opentype"),
        url(../fonts/oswald-regular-webfont.woff) format("woff"),
        url(../fonts/oswald-regular-webfont.ttf) format("truetype"),
        url(../fonts/oswald-regular-webfont.svg#Oswald) format("svg")
}

@font-face{
    font-family: 'Mathlete';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/Mathlete-Skinny-webfont.eot);
    src:url(../fonts/Mathlete-Skinny-webfont.eot) format("embedded-opentype"),
        url(../fonts/Mathlete-Skinny-webfont.woff) format("woff"),
        url(../fonts/Mathlete-Skinny-webfont.ttf) format("truetype"),
        url(../fonts/Mathlete-Skinny-webfont.svg) format("svg")
}

@media screen {

body{
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2,h3,h4 {
    font-family: 'BebasNeue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
    line-height: 28px;
}

.hidden {
    display: none;
}

.jumbotron {
    margin-bottom: 0;
}

.filler {
    display: block;
    background: #00BCD4;
    height: 65px;
}

@media (max-width: 767.98px) {
    .article, .related, .comments {
     
    }

    .navbar-toggler {
        display: block;
    } 

    .article-inner {
        padding-right: 0;
    }

    #sidebar,
    .jumbotron,
    #sidebarfront {
        display: none;
    }

    .frontarticle {
        padding: 0;
        border-width: 1px !important;
    }

    .article:nth-child(4n+1):after,
    .article:nth-child(4n+2):after,
    .article:nth-child(4n+3):after,
    .article:nth-child(4n+4):after
    {
        display: none;
    }

    .foot h4 {
        margin-left: 20px;
    }

    footer.foot {
        padding: 10px 0;
    }

    iframe,
    img {
        width: 230px;
    }

    .search-form {
        position: relative;
        margin-left: 15px;
        margin-bottom: 10px;
    }
}


@media (min-width: 769px) {
    .navbar-toggler {
        display: none;
    } 
    .article-inner {
        padding-right: 50px !important;
    }

    .navbar-nav li a {
        font-size: 1.2rem;
        padding: 15px 8px;
    }
}

@media (min-width: 1100px) {
    .navbar-nav li a {
        font-size: 1.6rem;
        padding: 15px 10px;
    }
}


.icon-github:before {
    content: "G";
}
.icon-linkedin:before {
    content: "\69";
}
.twitter-share-button span:before,
.icon-twitter:before {
    content: "\e606";
}
.icon-rss:before {
    content: "\ea9b";
}
.iconmenu:after {
    content: "M";
    font-family: icomoon;
    speak: none;
    text-transform: none;
    margin-top: -10px;
    font-size: 20px;
}

.iconsearch:before {
    content: "S";
    font-family: icomoon;
    speak: none;
    text-transform: none;
    margin-right: 7px;
}
.iconHome:before{
    content: "H";
    font-family: icomoon;
    speak: none;
    text-transform: none;
    margin-right: 7px;
}
.iconContact:before{
    content: "C";
    font-family: icomoon;
    speak: none;
    text-transform: none;
    margin-right: 7px;
}
.iconWriting:before {
    content: "w";
    font-family: icomoon;
    speak: none;
    text-transform: none;
    margin-right: 7px;
}
.iconSpeaking:before{
    content: "\e91e";
    font-family: icomoon;
    speak: none;
    text-transform: none;
    margin-right: 7px;
}
.iconVideos:before{
    content: "\76";
    font-family: icomoon;
    speak: none;
    text-transform: none;
    margin-right: 7px;
}
.iconAbout:before {
    content: "\e971";
    font-family: icomoon;
    speak: none;
    text-transform: none;
    margin-right: 7px;
}


.search-form-input {
    border: none;
    padding: 5px;
    margin-top: 5px;
}
.search-form-submit {
    margin-top: -5px;
}

.tag-link {
    margin-right: 5px;
}

.tag-link:before {
    content: "t";
    font-family: icomoon;
    speak: none;
    text-transform: none;
    padding-right: 5px;
}

.twitter-share-button span:before {
    font-family: icomoon;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    margin-right: 5px;
}

[class*=" icon-"], [class^=icon-] {
    background: #005C7B;
    border-radius: 35px;
    color: #fff;
    font-family: icomoon;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    padding: 10px;
    speak: none;
    text-transform: none;
}

.social {
    right: 12px;
    margin: 0;
    padding: 0;
    top: 72px;
    z-index: 2;
    position: absolute;

    li {
        float: left;
        list-style: none;
        margin-right: 5px;

        a {
            color: $white;
        }
        a:hover {
            color: #f2f2f2;
            text-decoration: none;
        }

        span {
            display: none !important;
        }
    }

}

.search-form-input {
    background: #000;
    color: $white;
}

.navbar-toggler {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.btn-dark {
    background: $black;
    padding: 0 5px;
}

}