@import './_settings/colors';
@import './_settings/settings';

@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import '_sections/sections';
@import '_components/components';


@font-face{
    font-family: Roboto;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/Roboto-Regular-webfont.eot);
    src:url(../fonts/Roboto-Regular-webfont.eot?#iefix) format("embedded-opentype"),
        url(../fonts/Roboto-Regular-webfont.woff) format("woff"),
        url(../fonts/Roboto-Regular-webfont.ttf) format("truetype"),
        url(../fonts/Roboto-Regular-webfont.svg#Roboto) format("svg")
}

@font-face{
    font-family: BebasNeue;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/bebasneue-webfont.eot);
    src:url(../fonts/bebasneue-webfont.eot?#iefix) format("embedded-opentype"),
        url(../fonts/bebasneue-webfont.woff) format("woff"),
        url(../fonts/bebasneue-webfont.ttf) format("truetype"),
        url(../fonts/bebasneue-webfont.svg#Roboto) format("svg")
}


@font-face{
    font-family: Oswald;
    font-style: normal;
    font-weight:400;
    src:url(../fonts/oswald-regular-webfont.eot);
    src:url(../fonts/oswald-regular-webfont?#iefix) format("embedded-opentype"),
        url(../fonts/oswald-regular-webfont.woff) format("woff"),
        url(../fonts/oswald-regular-webfont.ttf) format("truetype"),
        url(../fonts/oswald-regular-webfont.svg#Roboto) format("svg")
}

@font-face{
    font-family: icomoon;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/icomoon.eot);
    src:url(../fonts/icomoon.eot?#iefix) format("embedded-opentype"),
        url(../fonts/icomoon.woff) format("woff"),
        url(../fonts/icomoon.ttf) format("truetype"),
        url(../fonts/icomoon.svg#Roboto) format("svg")
}

body{
    font-family: Roboto;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2,h3,h4 {
    font-family: BebasNeue;
    font-size: 26px;
    line-height: 28px;
}

.hidden {
    display: none;
}

#sidebar {
    margin-top: -10px;
    margin-left: 30px;
    width: 240px;
}

.jumbotron {
    margin-bottom: 0;
}

@media (max-width: 768px){
    .article, .related, .comments {
        margin: 0 15px;
    }

    #sidebar {
        display: none;
    }
}

//colors

.badge {
    background-color: $badgecol !important;
}
