@import './_settings/settings';

@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';


@import '_sections/sections';
@import '_components/components';

@font-face{
    font-family: Roboto;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/Roboto-Regular-webfont.eot);
    src:url(../fonts/Roboto-Regular-webfont.eot?#iefix) format("embedded-opentype"),
        url(../fonts/Roboto-Regular-webfont.woff) format("woff"),
        url(../fonts/Roboto-Regular-webfont.ttf) format("truetype"),
        url(../fonts/Roboto-Regular-webfont.svg#Roboto) format("svg")
}

@font-face{
    font-family: BebasNeue;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/bebasneue-webfont.eot);
    src:url(../fonts/bebasneue-webfont.eot?#iefix) format("embedded-opentype"),
        url(../fonts/bebasneue-webfont.woff) format("woff"),
        url(../fonts/bebasneue-webfont.ttf) format("truetype"),
        url(../fonts/bebasneue-webfont.svg#Roboto) format("svg")
}

@font-face{
    font-family: icomoon;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/icomoon.eot);
    src:url(../fonts/icomoon.eot?#iefix) format("embedded-opentype"),
        url(../fonts/icomoon.woff) format("woff"),
        url(../fonts/icomoon.ttf) format("truetype"),
        url(../fonts/icomoon.svg#Roboto) format("svg")
}

body{
    font-family: Roboto;
    font-size: 16px;
}

.hidden {
    display: none;
}