.article, 
.related,
.comments {
    margin: 30px 60px;

    h1 {
        font-family: BebasNeue;
        font-size: 36px;
        line-height: 26px;
    }

    .article-category {
        display: inline;
    }

    .article-header {
        margin-bottom: 15px;
        font-size: 12px;
    }
}

.gist {
    max-width: 900px;
}

