.navbar-brand {
    font-family: BebasNeue;
    font-size: 38px;
}

.navbar-nav {
    display: inline-block;
    margin: 18px 0;
}

.navbar:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: -5px;
    right: -5px;
    height: 10px;
    /* TODO Add browser prefixes */
    background:
      linear-gradient(
        45deg, transparent 33.333%,
        #222 33.333%, #222 66.667%,
        transparent 66.667%
      ),
      linear-gradient(
        -45deg, transparent 33.333%,
        #222 33.333%, #222 66.667%,
        transparent 66.667%
      );
      background-size: 10px 20px;
      background-position: 0 -10px;
  }

.search-form {
    position: absolute;
    right: 5px;
    top: 5px;
}

.container .jumbotron, 
.container-fluid .jumbotron {
    border-radius: 0;
    border-bottom: 10px solid #222;
    padding: 20px;
    font-family: Mathlete;

    span {
        font-size: 30px;
        line-height: 45px;
        display: inline-block;
        padding: 0 8px;
        margin-bottom: 5px;
    }

}

//colors

.jumbotron {
    background-color: $headercol1;
    color: $white;

    span {
      background-color: darken($headercol1,10%);  
    }
}