.navbar-brand {
    font-family: BebasNeue;
    font-size: 38px;
}

.navbar-nav {
    display: inline-block;
    margin: 18px 0;
}

.search-form {
    position: absolute;
    right: 5px;
    top: 5px;
}

.container .jumbotron, 
.container-fluid .jumbotron {
    border-radius: 0;
    border-bottom: 10px solid #222;
    padding: 20px;
    font-family: Mathlete;

    span {
        font-size: 30px;
        line-height: 45px;
        display: inline-block;
        padding: 0 8px;
        margin-bottom: 5px;
    }

}

//colors

.jumbotron {
    background-color: $headercol1;
    color: $white;

    span {
      background-color: darken($headercol1,10%);  
    }
}