.navbar-nav {
	list-style: none;
    font-family: Oswald, Impact;
	text-transform: uppercase;
	margin: 0 !important;
	border: none;
    padding-top: 1px;

	li {
		display: inline-block;

		a {
			font-size: 1.6rem;
		}
	}
}

.navbar {
	border-radius: 0 !important;
	margin-bottom: 0;
}

.navbar-brand {
    float: left;
    padding: 15px;
}

.navbar-header {
	float: left;
}

.nav-collapse {
    will-change: max-height;
    transition: max-height .5s ease-in;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.collapse.in {
    display: block;
}

.collapse {
    display: none;
}