.navbar-nav {
	list-style: none;

	li {
		display: inline-block;
		margin-left: 10px;

		a {
			font-size: 1.6rem;
		}
	}
}
.navbar-header {
	float: left;
}

.nav-collapse {
    will-change: max-height;
    transition: max-height .5s ease-in;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.collapse.in {
    display: block;
}

.collapse {
    display: none;
}