
.sidebar {
    font-size: 13px;
    line-height: 24px;

    .headshot {
        display: inline-block;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        
        overflow: hidden;
        margin-left: 60px;
        margin-top: -20px;
    
        img {
            height: 100px;
            width: 100px;       
        }
    }

    .sidebar-module,
    .profile {
        background:  $white;
        box-shadow: 0px 1px 5px $black;
        -webkit-box-shadow: 0px 1px 5px $black;
        padding: 10px;
        margin-bottom: 30px;
    }

    .sidebar-module-list {
        margin: 0;
        padding: 0;
        font-family: Oswald, Impact;
        font-size: 14px;
        text-transform: uppercase;

        li {
            border-bottom: 1px solid #000;
            display: table;
            min-height: 35px;
            width: 100%;
        }

        .sidebar-module-list-count{
            font-family: Roboto;
            font-size: 10px;
            padding: 0 5px;
        }
    }


}

#sidebar {
    width: 240px;
    float: right;
}

#sidebarfront {
    position: absolute;
    width: 240px;
    right: 0;
    margin-right: 12px;
    margin-top: -220px;
}

//colors
.sidebar {
    color: $black;

    a {
        color: $col1 !important;
    }
}