$white: #fff;
$light: #cfd8dc;
$black: #212121;

$headercol1: #00BCD4;
$badgecol: #FF5722;

$footercol1: #263238;
$footercol2: #455a64;

$col1: #1E88E5;
$col2: #00897B;
$col3: #FFB300;
$col4: #F44336;